@{
    ViewData["Title"] = "Home Page";
}
<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(img/Home-img/01.jpg); "></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>守護地球 從選用「雨林聯盟」認證的好咖啡開始！</h2>
                            <p>一起響應地球環境永續、雨林生態維護等理念，幫助咖啡農場工人擁有健全的工作環境及工資，為改善咖啡生產地的醫療、居住環境盡一份心力。</p>
                            <div class="welcome-btn-group">
                                <a asp-controller="Shop" asp-action="view" class="btn alazea-btn mr-30">Go Shop</a>
                                <a href="#" class="btn alazea-btn active">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(img/Home-img/02.jpg); "></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>守護地球 從選用「雨林聯盟」認證的好咖啡開始！</h2>
                            <p>以義式高壓萃取的雨林聯盟認證咖啡，享受清香芳醇的口感與香氣，還能在生活中的微小時刻，積蓄保護生態的能量，在蛙鳴中落實森林永續的理念。</p>
                            <div class="welcome-btn-group">
                                <a asp-controller="Shop" asp-action="view" class="btn alazea-btn mr-30">Go Shop</a>
                                <a href="#" class="btn alazea-btn active">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### video Area Start ##### -->
<section class="our-services-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>咖啡豆兩大品種</h2>
                    <p>阿拉比卡 Arabica & 羅布斯塔 Robusta</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="alazea-service-area mb-100">

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="img/coffee-img/Arabica.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>阿拉比卡 Arabica</h5>
                            <p>阿拉比卡在咖啡市場市佔率近七成，如此受歡迎與此品種帶有細緻柔和的果酸與花香的風味特色有關。一般來說咖啡在愈高的海拔生長，風味層次愈值得期待。阿拉比卡平均種植在海拔1000-2000公尺以上的位置，豆種咖啡因含量較低，含糖量是羅布斯特豆種的兩倍，脂肪含量比羅布斯特多了60%，綜合整體風味更為香甜。</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="img/coffee-img/Robusta.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>羅布斯塔 Robusta</h5>
                            <p>與阿拉比卡相比之下，羅布斯特在風味表現雖然稍嫌遜色，香氣平平、口感也略為粗糙，但良好的抗病力使其果實繁殖能力強。綠原酸的成分含量高，好處是農作物栽種方面不易受害蟲與氣候環境所影響。羅布斯特在海拔較低800公尺以下的地方也能生長的很好。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="alazea-video-area bg-overlay mb-100">
                    <iframe width="540" height="350" src="https://www.youtube.com/embed/vFcS080VYQ0" title="The basics about: Coffee" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### video Area End ##### -->
<!-- ##### Portfolio Area Start ##### -->
<section class="alazea-portfolio-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>照片集</h2>
                    <p>We devote all of our experience and efforts for creation</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="alazea-portfolio-filter">
                    <div class="portfolio-filter">
                        <button class="btn active" data-filter="*">All</button>
                        <button class="btn" data-filter=".design">Coffee Art</button>
                        <button class="btn" data-filter=".garden">Process</button>
                        <button class="btn" data-filter=".home-design">Roasting</button>
                        <button class="btn" data-filter=".office-design">About the Bean</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row alazea-portfolio">
            @*art*@
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design  wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/latta1.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/latta1.jpg" class="portfolio-img d-flex align-items-center justify-content-center">
                        <div class="port-hover-text">
                            <h3>濃萃拿鐵</h3>
                            <h5>Latte Art</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design  wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/latta2.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/latta2.jpg" class="portfolio-img d-flex align-items-center justify-content-center">
                        <div class="port-hover-text">
                            <h3>卡布奇諾</h3>
                            <h5>Latte Art</h5>
                        </div>
                    </a>
                </div>
            </div>
            @*//處理法*@
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/pross1.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/pross1.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 2">
                        <div class="port-hover-text">
                            <h3>處理方式</h3>
                            <h5>日曬法</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/pross2.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/pross2.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 2">
                        <div class="port-hover-text">
                            <h3>處理方式</h3>
                            <h5>水洗法</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item office-design wow fadeInUp" data-wow-delay="400ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/farm4.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/farm4.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 4">
                        <div class="port-hover-text">
                            <h3>Friend Of Coffee</h3>
                            <h5>Service Person</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/pross3.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/pross3.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 2">
                        <div class="port-hover-text">
                            <h3>處理方式</h3>
                            <h5>蜜處理法</h5>
                        </div>
                    </a>
                </div>
            </div>
            @*烘焙程度*@
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6  single_portfolio_item home-design  wow fadeInUp" data-wow-delay="300ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/been1.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/been1.jpg" class="portfolio-img d-flex align-items-center justify-content-center">
                        <div class="port-hover-text">
                            <h3>烘焙程度</h3>
                            <h5>去殼至烘焙</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item home-design wow fadeInUp" data-wow-delay="300ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/been2.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/been2.jpg" class="portfolio-img d-flex align-items-center justify-content-center">
                        <div class="port-hover-text">
                            <h3>烘焙程度</h3>
                            <h5>採摘</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 single_portfolio_item home-design wow fadeInUp" data-wow-delay="300ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/been3.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/been3.jpg" class="portfolio-img d-flex align-items-center justify-content-center">
                        <div class="port-hover-text">
                            <h3>烘焙程度</h3>
                            <h5>咖啡豆的一生</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design  wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/latta3.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/latta3.jpg" class="portfolio-img d-flex align-items-center justify-content-center">
                        <div class="port-hover-text">
                            <h3>卡布奇諾</h3>
                            <h5>Latte Art</h5>
                        </div>
                    </a>
                </div>
            </div>
            @*農場*@
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item  office-design wow fadeInUp" data-wow-delay="400ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/farm1.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/farm1.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 4">
                        <div class="port-hover-text">
                            <h3>Home Of Coffee</h3>
                            <h5>Farm</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item office-design wow fadeInUp" data-wow-delay="400ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/farm2.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/farm2.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 4">
                        <div class="port-hover-text">
                            <h3>Coffee bean</h3>
                            <h5>Coffee itself</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design  wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/latta4.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/latta4.jpg" class="portfolio-img d-flex align-items-center justify-content-center">
                        <div class="port-hover-text">
                            <h3>卡布奇諾</h3>
                            <h5>Latte Art</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item office-design wow fadeInUp" data-wow-delay="400ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/img/coffee-img/farm3.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="/img/coffee-img/farm3.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 4">
                        <div class="port-hover-text">
                            <h3>Friend Of Coffee</h3>
                            <h5>Service Person</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Portfolio Area End ##### -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
