@model IEnumerable<prjProduct_core.ViewModel.CProductViewModel>
<ul class="pagination" id="btnul1">

</ul>

<script>
    $("#btnul1").prepend(function () {
        $.get('@Url.Content("~/API/loadCatory")' + "?id=" +@Model.Select(x=>x.CategoryId).FirstOrDefault(), function (data) {
                let cont = parseInt (data) + 1;
                for (let i = 1; i < cont+1; i++) {
                    $("#btnul1").prepend(`<li class=" page-item"><a href="#" class=" page-link " id="Page${i}" onclick="loadpage()">${i}</a></li>`)
                }
            })
        });
    @*function loadpage() {
            let id = $(event.target).attr("id").substr(4);
            /*console.log(id)*/
             $("#showcard").load('@Url.Content("~/Shop/partialViewForCatgory")' + "?id=" + id+"&page="+id);
        }*@
</script>
